{% extends "home/base.html" %}

{% block title %}
    Comments
{% endblock %}

{% block main %}
    <h1>Comment page for {{ title }} </h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% for c in comments %}
        <div>
            {{ c.user }} on {{ c.created_at }} said: <br> {{ c.comment }}
        </div>
        <br>
    {% endfor %}
{% endblock %}