{% extends "home/base.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    <h1>{{ data.title }}</h1>
    <h4 style="color: gray;"><i>~{{ data.tagline }}</i></h4>
    <img src="https://image.tmdb.org/t/p/w200{{ data.poster_path }}" alt="...">
    <hr>
    <h2>Overview</h2>
    <p>{{ data.overview }}</p>
    <hr>
    <h2>Comments</h2>
    <img src="https://img.icons8.com/external-sbts2018-blue-sbts2018/58/000000/external-comment-social-media-basic-1-sbts2018-blue-sbts2018.png">
    <hr>
    <h2>Genres</h2>
    <ul>
        {% for g in data.genres %}
            <li>{{ g.name }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2>General Information:</h2>
    <p>
        <strong>Release date:</strong> {{ data.release_date }} <br>
        {% load numbers %}
        <strong>Revenue:</strong> ${{ data.revenue|format_number }} <br>
        <strong>Runtime: </strong> {{ data.runtime }} minutes <br>
    </p>
    <hr>
    <h2>Recommendations</h2>
    <div class="row">
        {% for m in recommendations.results %}
            <div class="card" style="width: 18rem;">
                <img src="https://image.tmdb.org/t/p/w200{{ m.poster_path }}" class="card-img-top" alt="...">
                <div class="card-body">
                {% if not m.name %}
                    <h5 class="card-title">{{ m.title }}</h5>
                {% else %}
                    <h5 class="card-title">{{ m.name }}</h5>
                {% endif %}
                <p class="card-text">{{ m.overview }}</p>
                <a href="/{{ type }}/{{ m.id }}/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}